body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* New.ejs */
.container{
    flex: 1;
}

.add-btn{
    background-color: #fe424d !important;

}

.navbar{
    height:5rem;
    background-color:white;
}

.fa-compass{
color:#fe424d;
font-size:2rem;
} 

.nav-link{
    color:#222222 !important;
}

.f-info-links a{   
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-social{
    width:100%;
}

.f-info{
text-align: center;
}
.f-info{
    height:8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius:2rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}


.card-text p{
    font-family: 1000 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
} 

.show{
    text-decoration: none;
}

.show-img{
    height: 30vh;
}

.edit-btn{
    background-color: #fe424d !important;
}

.btns{
    display:flex; 
}